.basket-wrapper {
  color: #fff;
  text-align: right;
}

.basket-wrapper a {
  color: #fff;
}

.basket-wrapper span {
  cursor: pointer;
  margin-top: 7px;
  padding: 10px;
}

.basket-wrapper span:hover {
  background-color: #ffffff;
  color: #000;
}

.navbar-nav {
  a {
    &:hover {
      cursor: pointer;
    }
  }
}

.body-content {
  margin-top: 50px;
}