@model ShoppingCart.BasketPage.BasketControllerIndexData

@{
    ViewBag.Title = "Basket";
}

<h1>Basket</h1>

<div class="row">
    <div class="col-md-12">
        @if (Model.Basket.Items.Any())
        {
            foreach (var basketItem in Model.Basket.Items)
            {
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">@basketItem.Pizza.Name <small>@basketItem.Size.Name</small></h3>
                    </div>
                    <div class="panel-body">
                        @if (basketItem.ExtraToppings.Count > 0)
                        {
                            <p>Extra Toppings</p>
                            <ul>
                                @foreach (var extraTopping in basketItem.ExtraToppings)
                                {
                                    <li>@extraTopping.Name</li>
                                }
                            </ul>
                        }
                    </div>
                </div>
            }
        }
    </div>
</div>
