@model ShoppingCart.BasketPage.BasketControllerIndexData

@{
    ViewBag.Title = "Basket";
}

<h1>Basket</h1>

<div class="row">
    <div class="col-md-12">
        @if (Model.Basket.Items.Any())
        {
            <ul>
                @foreach (var basketItem in Model.Basket.Items)
                {
                    <li>
                        @basketItem.Pizza.Name - @basketItem.Size.Name
                        @if (basketItem.ExtraToppings.Count > 0)
                        {
                            <ul>
                                @foreach (var extraTopping in basketItem.ExtraToppings)
                                {
                                    <li>@extraTopping.Name</li>
                                }
                            </ul>
                        }
                    </li>
                }
            </ul>
        }
    </div>
</div>
