body {
    padding-bottom: 20px;
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/

.dl-horizontal dt { white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */

input,
select,
textarea { max-width: 280px; }

.basket-wrapper {
    color: #fff;
    text-align: right;
}

.basket-wrapper a { color: #fff; }

.basket-wrapper span {
    cursor: pointer;
    margin-top: 7px;
    padding: 10px;
}

.basket-wrapper span:hover {
    background-color: #ffffff;
    color: #000;
}