<h1>Basket</h1>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-danger" role="alert" *ngIf="errorMessage !== ''">
            {{ errorMessage }}
        </div>
        <div class="alert alert-success" role="alert" *ngIf="successMessage !== ''">
            {{ successMessage }}
        </div>
        <div class="item-wrapper" *ngIf="basket.items.length > 0">
            <div class="panel panel-default" *ngFor="let pizza of basket.items">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <div class="row">
                            <div class="col-md-6">
                                {{ pizza.name }}
                                <small>{{ pizza.selectedSize.name }}</small>
                            </div>
                            <div class="col-md-6" style="color: #27ae60; font-weight: bold; text-align: right;">
                                {{ pizza.total.inFull }}
                            </div>
                        </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <p>Extra Toppings</p>
                    <ul>
                        <li *ngFor="let topping of pizza.toppings">{{ topping.name }}</li>
                    </ul>
                    <small *ngIf="pizza.toppings.length === 0">No extra toppings selected.</small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <fieldset>
                                <h4>Delivery</h4>
                                <div class="form-group">
                                    <label class="custom-control custom-checkbox" style="margin-right: 15px;">
                                        <input type="radio" name="delivery" value="Delivery"
                                               class="custom-control-input" checked="checked"
                                               [(ngModel)]="deliveryType"/>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Delivery</span>
                                    </label>

                                    <label class="custom-control custom-checkbox" style="margin-right: 15px;">
                                        <input type="radio" name="delivery" value="Collection"
                                               class="custom-control-input" [(ngModel)]="deliveryType"/>
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description">Collection</span>
                                    </label>
                                </div>

                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Voucher Code"
                                           [(ngModel)]="voucher"/>
                                </div>
                                <input type="submit" value="Checkout" class="btn btn-primary" (click)="checkout()"/>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 15px;">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-default" (click)="saveBasket()"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" style="text-align: right;">
                    <hr/>
                    <h1>
                        <small>Total</small>
                        <span style="color: #27ae60; font-weight: bold;">{{ total.inFull }}</span>
                        <span style="color: #999999; text-decoration: line-through" *ngIf="basket.adjustedPrice">{{ basket.total.inFull }}</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="basket.items.length === 0">
            <div class="col-md-12">
                <h4>There are no items in the basket!</h4>
            </div>
        </div>
    </div>
</div>